.container {
    display: flex;
    gap: $gapBetweenContainer;
    justify-content: center;
    flex-wrap: wrap;
}

.boxSingle {
    @extend .unselectable;
    flex-direction: column;
    display: flex;
    width: calc((100% - $gapBetweenContainer)/1.5);
    aspect-ratio: 16/9;
}

.boxDuo {
    display: flex;
    gap: $gapBetweenContainer;
    flex-direction: column;
    width: calc((100% - $gapBetweenContainer)/3);

    & > div {
        height: 100%;
    }
}

@include below(sm) {
    .boxSingle {
        width: 100%;
    }

    .boxDuo {
        flex-direction: row;
        width: 100%;
        gap: $gapBetweenContainer;

        & > div {
            width: calc((100% - $gapBetweenContainer) /2);
        }
    }
}
