.container {
    display: flex;
    align-items: center;
    gap: 15px;

    @extend .margin-title;

    &List {
        overflow-x: scroll;
    }

    &State {
        display: flex;
        margin-bottom: 15px;
        gap: $gapBetweenElement;
    }
}