.notification {
    &Container {
        display: flex;

        & > form {
            padding: 0;

            & > div > div {
                display: flex;
                flex-direction: column;
                gap: $gapBetweenElement;
                padding: 15px;
            }
        }
    }

    &Group {
        background-color: $background-color-lightgrey;

        & > div {
            display: flex;
            flex-direction: row;
            gap: $gapBetweenElement;
        }
    }

    &Submit {
        @include below(md) {
            display: flex;
            justify-content: center;
        }

        & > button > div {
            display: inherit;
            align-items: inherit;
        }
    }
}
