.navLinkContainer {
    @extend .margin-title;

    & > div {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-bottom: 30px;

        & > li {
            position: relative;
            list-style: none;

            &::after {
                content: "";
                width: 100%;
                border-bottom: 2px solid $text-color-darkgrey;
                position: absolute;
            }

            &.active::after {
                content: "";
                width: 100%;
                border-bottom: 2px solid $text-color-secondary;
                position: absolute;
            }

            & > a {
                margin: 0 10px;
                padding: 10px 0;
                transition: all 0.3s ease-in-out;
                display: flex;
                text-decoration: none;
                color: $text-color-secondary;
                position: relative;
            }
        }
    }
}
