.navLinkContainer {
    @extend .margin-title;
    
    &.vertical {
        & > div {
            flex-direction: column;
            & > li {
                &::after {
                    content: '';
                    height: 100%;
                    border-left: 2px solid $text-color-darkgrey;
                    border-bottom: inherit;
                    width: 0;
                    top: 0;
                    left: 0;
                }
                
                &.active::after {
                    content: '';
                    height: 100%;
                    border-left: 2px solid $text-color-secondary;
                    border-bottom: inherit;
                    width: 0;
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    & > div {
        display: flex;
        flex-direction: row;
        gap: $gapBetweenElement;
        margin-bottom: 30px;
        flex-wrap: wrap;

        & > li {
            position: relative;
            list-style: none;

            &::after {
                content: '';
                width: 100%;
                border-bottom: 2px solid $text-color-darkgrey;
                position: absolute;
            }

            &.active::after {
                content: '';
                width: 100%;
                border-bottom: 2px solid $text-color-secondary;
                position: absolute;
            }

            & > a {
                margin: 0 10px;
                padding: 10px 0;
                transition: all 0.3s ease-in-out;
                display: flex;
                text-decoration: none;
                color: $text-color-secondary;
                position: relative;
            }
        }
    }
}