.juryContainer {
    & > div {
        width: 100%;

        & > ul {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 0;
            margin: 0;
            list-style: none;

            & > li {
                font-weight: 700;
                background-color: $background-color-lightgrey-2;
                padding: 15px;
            }
        }
    }
}
