.asideContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

    & > div > div {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;

        & > img {
            width: calc((100% - 30px) / 2);
            height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }
}
