.formContainer {
    @extend .limited-content;
    form {
        align-items: inherit;
    }
    .registerSubmit {
        display: flex;
        margin-top: 2%;

        & > button > div {
            display: inherit;
            align-items: inherit;
        }
    }
}
