.dropdownContainer {
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;

    @include below(md) {
        flex-direction: column;
    }

    & > div {
        & > li {
            display: flex;

            & > a {
                text-decoration: none;
                color: $text-color-secondary;
            }
        }
    }

    .dropdown {
        display: flex;
        align-items: start;
        flex-direction: column;
        position: absolute;
        top: 100%;
        z-index: 100;
        overflow: hidden;
        background-color: $background-color-darkgrey;
        width: 100%;
        transition: 0.25s ease-in-out;
        max-height: 0;
        border-radius: 5px;
        list-style: none;

        @include below(md) {
            position: inherit;
            top: 0;
        }

        & > li {
            list-style: none;
            margin-top: 10px;

            & > a {
                color: $background-color-secondary;
                text-decoration: none;
                font-size: 14px;
                font-weight: 700;

                &:hover {
                    color: $text-color-primary;

                    &:after {
                        border-bottom: none;
                    }
                }
            }
        }

        &Show {
            max-height: 200px;
        }

        &Icon {
            transform: rotate(180deg);
            transition-duration: 0.5s;
            cursor: pointer;
        }

        &Rotate {
            transform: none;
        }
    }
}
