.portalContainer {
    display: flex;
    gap: $gapBetweenElement;
    justify-content: center;
    flex-wrap: wrap;

    @include below(md) {
        justify-content: inherit;
    }

    button {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
    }

    .boxSingle {
        @extend .unselectable;
        position: relative;
        flex-direction: column;
        display: flex;
        width: calc((100% - $gapBetweenElement) / 1.5);
        aspect-ratio: 16/9;

        & > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &Secondary {
            position: absolute;
            right: 15px;
            bottom: 15px;
        }
    }

    .boxDuo {
        display: flex;
        position: relative;
        gap: $gapBetweenElement;
        flex-direction: column;
        width: calc((100% - $gapBetweenElement) / 3);
        aspect-ratio: 16/9;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            aspect-ratio: 16/9;
        }

        .boxDown {
            position: relative;

            &Secondary {
                position: absolute;
                right: 15px;
                bottom: 15px;
                // add z-index to make sure it's on before the image
                z-index: 10;
            }
        }
    }

    @include below(md) {
        .boxSingle {
            width: 100%;
        }

        .boxDuo {
            flex-direction: row;
            gap: $gapBetweenElement;

            // for pictures
            width: calc((100% - $gapBetweenElement) / 2);

            // for slider
            & > .boxUp, .boxDown {
                width: 100%;
                aspect-ratio: 16/9;
            }
        }
    }

    @include below(sm) {
        .boxDuo {
            flex-direction: column;
            width: 100%;
        }
    }
}
