$paddingBorder: 15px;
$containerWidth: calc((100% - ($gapBetweenElement) * 2));
$borderRadius: 10px;

.cardContainer {
    width: calc($containerWidth / 3);
    height: auto;
    border-radius: $borderRadius;
    box-shadow: 3px 5px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.025);
        z-index: 1;
    }

    @include mobile() {
        width: calc($containerWidth / 2);
    }

    @include small-mobile() {
        width: 100%;
    }
}

.cardContainerHorizontal {
    & > div:first-child {
        width: auto;
        aspect-ratio: inherit;

        & > img {
            width: 500px;
        }
    }
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cardContainerVertical {
    display: flex;
    flex-direction: column;
}

.card {
    &Body {
        border-radius: 10px 10px 0 0;
        background-color: $background-color-primary;
        padding: 10px $paddingBorder;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            margin: 0 5px;
            -webkit-line-clamp: 2;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    &Header {
        width: 100%;
        aspect-ratio: 16/9;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 16/9;
        }
    }

    &Disposition {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        gap: 10px;

        @include below(lg) {
            height: 190px;
        }

        @include below(md) {
            height: 180px;
        }

        @include below(sm) {
            height: 170px;
        }
    }

    &Filter {
        display: flex;
        gap: 10px;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
        padding-right: 30px;

        // hide the scroll
        &::-webkit-scrollbar {
            display: none;
        }

        &Container {
            position: relative;
            margin: 20px 0 0 0;
        }

        &Fade {
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 100%;
            background-image: linear-gradient(
                to right,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 1)
            );
        }
    }

    &Footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px $paddingBorder;
        flex-wrap: wrap;
        height: fit-content;

        span {
            background: $background-color-lightgrey;
            border-radius: 50px;
        }

        & > div > .date {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
                font-size: 0.9rem;
            }
        }

        @include below(xl) {
            justify-content: center;
        }
    }
}
