$paddingBorder: 15px;
$containerWidth: calc((100% - ($gapBetweenContainer) * 2));
$borderRadius: 10px;

.card {
    &Container {
        width: calc($containerWidth / 3);
        height: auto;
        border-radius: $borderRadius;
        position: relative;
        box-shadow: 3px 5px 30px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        cursor: pointer;

        @include mobile() {
            width: calc($containerWidth / 2);
        }

        @include small-mobile() {
            width: 100%;
        }
    }

    &Body {
        border-radius: 10px 10px 0 0;
        background-color: $background-color-primary;
        padding: 10px $paddingBorder;

        h3 {
            margin: 0 5px;
        }
    }

    &Header {
        width: 100%;
        aspect-ratio: 16/9;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &Filter {
        display: flex;
        gap: 10px;
        margin: 15px 0;
    }

    &Footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px $paddingBorder;
        flex-wrap: wrap;

        span {
            background: $background-color-lightgrey;
            border-radius: 50px;
        }

        & > div > .date {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
                font-size: .9rem;
            }
        }
    }
}
