.homeContainer {
    @extend .limited-content;
    @extend .margin-title;
}

.homeBanner {
    display: flex;
    align-items: center;

    & > div {
        width: 50%;

        &:last-child {
            justify-content: end;
        }
    }

    @include below(xl) {
        flex-direction: column;

        h1 {
            font-size: 25px;
        }

        & > div {
            display: flex;
            justify-content: center;

            &:last-child {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
    }
}
