.homeContainer {
    @extend .limited-content;
    @extend .margin-title;
}

.homeBanner {
    display: flex;
    align-items: center;

    & > div {
        width: 50%;

        &:last-child {
            justify-content: end;
        }
    }
}
