.formContainer {
    // override component Input
    form {
        align-items: inherit;
        padding: inherit;

        & > div > div > div {
            flex-direction: inherit;
        }
    }

    .notificationContainer {
        background-color: #f5f5f5;
        padding: 20px;
    }
}
