<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
</head>
<body style="margin: 0; padding: 0; display: flex;flex-direction: column; min-height: 100vh;">
<header style="display: flex; justify-content: center; background-color: lightgray; padding: 15px 0;">
    <img width="250px" src="{{ email.image('@logo/logo-concoursPhoto.png') }}" alt="logo-concoursPhoto.png" />
</header>
<main style="padding: 50px 100px; flex-grow: 1; display: flex; flex-direction: column; gap: 45px;">
    {% block main %}{% endblock %}
</main>
<footer style="display:flex; justify-content: center; padding: 32px; font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 600;">
    <ul style="display: flex; flex-wrap: wrap; gap: 30px; align-items: center; padding: 0;">
        <li style="display: flex; list-style: none;">
            <p>
                <span>ConcoursPhotos.com</span> @ Tous droits réservés
            </p>
        </li>
        <li style="list-style: none;">A propos</li>
        <li style="list-style: none;">Mentions légales</li>
        <li style="list-style: none;">Données personnelles</li>
        <li style="list-style: none;">Annoncer sur ce site</li>
        <li style="list-style: none;">Nous contacter</li>
    </ul>
</footer>
</body>
</html>