.componentButton {
    @extend .unselectable;
    &Container {
        border-radius: 10px;
        align-items: center;
        &Disabled {
            cursor: not-allowed;
            opacity: 0.65;
            filter: alpha(opacity=65);
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }

    border: none;
    align-items: center;
    cursor: pointer;
    font-size: 1.1rem;
    justify-content: center;
    display: flex;
    &Disabled {
        pointer-events: none;
    }

    & > div {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 0 10px 0 10px;
    }
}
