.componentButton {
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    border: none;
    font-size: 1.1rem;

    & > div {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 0 10px 0 10px;
    }
}
