/* NORMALIZE FOR GLOBAL PROJECT*/
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $bo-font-family;
}

.limited-content {
    padding: 0 200px;

    @include below(md) {
        padding: 0 50px;
    }
}

.margin-title {
    h1,
    h2 {
        padding: 20px 0;
    }
}

.unselectable {
    -webkit-user-select: none; /* Safari /
    -ms-user-select: none; / IE 10 and IE 11 /
    user-select: none; / Standard syntax */
}

// global style for Select component (override Select component)
.select-style {
    & > div {
        background-color: $background-color-lightgrey-2;
        border: none;

        & > div:last-child > span {
            display: none;
        }
    }
}

.break-long-words {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// hide registration pop-up TINY MCE
.tox-notifications-container {
    display: none;
}
