/* NORMALIZE FOR GLOBAL PROJECT*/
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $bo-font-family;
    margin: 0;
    padding: 0;
}

.limited-content {
    padding: 0 100px;
}

.unselectable {
    -webkit-user-select: none; /* Safari /
    -ms-user-select: none; / IE 10 and IE 11 /
    user-select: none; / Standard syntax */
}
