// Colors
$lightgrey: #f5f5f5;
$lightgrey-2: #f1f1f1;
$darkgrey: #a8a8a8;
$red: #ff0000;

// Main colors
$primary-color: #fff;
$secondary-color: #000;
$third-color: #d9d9d9;

// Text colors

$text-color-primary: $primary-color;
$text-color-secondary: $secondary-color;
$text-color-third: $third-color;
$text-color-lightgrey-2: $lightgrey-2;
$text-color-darkgrey: $darkgrey;

// Background colors
$background-color-lightgrey: $lightgrey;
$background-color-lightgrey-2: $lightgrey-2;
$background-color-primary: $primary-color;
$background-color-secondary: $secondary-color;
$background-color-darkgrey: $darkgrey;
$background-color-red: $red;

// Media Queries
$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1400px,
    xxl: 1600px,
    full-hd: 1920px,
);

// Logo size

// Content

$gapBetweenContainer: 15px;
