.component {
    display: flex;
    flex-direction: column;

    &Input:not([type="checkbox"]) {
        padding: 10px;
        border-radius: 5px;
        border: .2px solid $lightgrey;
        box-shadow: rgba(17, 17, 26, 0.1) 0 1px 0;
        background-color: $text-color-lightgrey-2;

        &:focus {
            outline: none;
        }

        &[type="date"], &[type="file"] {
            border-radius: 20px;
        }
    }
}
