.component {
    display: flex;
    flex-direction: column;
    width: 100%;

    &Input:not([type='radio'], [type='checkbox']) {
        padding: 10px;
        border-radius: 5px;
        border: 0.2px solid $lightgrey;
        box-shadow: rgba(17, 17, 26, 0.1) 0 1px 0;
        background-color: $text-color-lightgrey-2;

        &:focus {
            outline: none;
        }

        &[type='date'],
        &[type='file'] {
            border-radius: 20px;
        }
    }
    &Image {
        width: 100%;
        object-fit: cover;
        border-radius: 50px;
        background-color: $lightgrey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0 20px;
        overflow: hidden;
    }

    .radioList {
        display: flex;
        flex-direction: row;
        gap: $gapBetweenElement;

        // component take width to 100% but we need to override it
        & > div {
            width: inherit;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: $gapBetweenElement;
        }
    }

    &Profile {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .buttonWrapper {
            display: flex;
            flex-direction: row;
            gap: $gapBetweenElement;

            & > div > button {
                &:hover {
                    cursor: pointer;
                    background-color: $background-color-lightgrey-3;
                }

                & > div {
                    font-weight: 600;
                }
            }
        }


        .imageWrapper {
            height: 100%;
            margin-right: 15px;

            .image {
                width: 112px;
                height: 112px;
                aspect-ratio: 16/9;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        @include below(md) {
            display: flex;
            flex-direction: column;
            gap: $gapBetweenElement;
        }
    }
}
