@import "../../../assets/style/style.scss";

.title {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input {
    margin: auto;
    text-align: center;
    align-items: center;
}
