.tableContainer {
    border-collapse: separate;
    width: 100%;

    & td {
        border-bottom: 1px solid $darkgrey;
        padding: 10px;
    }

    & th {
        border-top: 2px solid $text-color-third;
        padding: 10px;
        text-align: start;
    }
    
    & tbody tr:hover {
        transition: all 0.2s ease-in-out;
        scale: 1.01;
        cursor: pointer;
    }

    thead,
    tfoot {
        background-color: $background-color-lightgrey-2;
        color: $background-color-secondary;
    }
}
